.venv/
__pycache__/
*.zip
*.h5
*.tflite
*.pkl
*.parquet
.ipynb_checkpoints/
generativeAI/genAI-venv
image-classification/data/chest_xray
image-classification/Dataset-Final
model-deployment/tensorflow-serving/dataset/rockpaperscissors